@if (category) {
  <div class="page-title-wrapper mb-5">
    <div class="page-title d-flex gap-3 align-items-center">
      <h2 class="display-2">
        {{ category.name }}
      </h2>
      <span class="fst-italic">({{ recipes.length }} recipes)</span>
    </div>

    <p>{{ category.description }}</p>
  </div>
}
@if (recipes.length) {
  <div class="row">
    @for (item of recipes; track item.key) {
      <div class="col-6 col-md-3">
        <rcp-recipe-card [recipe]="item" />
      </div>
    }
  </div>
}
