.navbar-toggler-bs-icon {
  font-size: 2rem;
}

.search-toggler-icon {
  font-size: 1.25rem;
}

.user-control {
  width: 2rem;
  height: 2rem;
  background-color: var(--rcp-primary);
  border-radius: 50%;
}
