<nav class="navbar navbar-expand-xl bg-body py-3">
  <div class="container">
    <a
      class="navbar-brand"
      [routerLink]="['/']"
      href="#"
      >Recipes</a
    >
    <rcp-main-menu [userMenu]="userMenu" />
    <div class="user d-flex gap-2 align-items-center">
      <rcp-search />
      @if (user) {
        <rcp-user-control
          class="d-none d-xl-block"
          (logout)="onLogout()"
          [userMenu]="userMenu"
          [userDisplayName]="user.displayName"
          [userPhotoPath]="user.photoURL" />
      } @else {
        <button
          (click)="onLogin()"
          class="btn btn-primary text-white fw-bold">
          Login
        </button>
      }
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
        aria-label="Toggle navigation">
        <i class="bi bi-list navbar-toggler-bs-icon"></i>
      </button>
    </div>
  </div>
</nav>
