<div
  id="errorModal"
  class="modal"
  tabindex="-1"
  aria-labelledby="errorModalLabel"
  [attr.aria-hidden]="dialogRef.getState() !== 0">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1
          class="modal-title display-6"
          id="errorModalLabel">
          Error!
        </h1>
        <button
          (click)="dialogRef.close()"
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        @if (error.title) {
          <h2 class="fw-bold">{{ error.title }}</h2>
          <p>{{ error.message }}</p>
        } @else {
          <h3 class="fw-bold">{{ error.message }}</h3>
        }
      </div>
      <div class="modal-footer row justify-content-center">
        <div class="col-6 d-grid">
          <button
            type="button"
            data-bs-dismiss="modal"
            (click)="dialogRef.close()"
            class="btn btn-primary text-white">
            Ok
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
