<h2 class="display-2 mb-5">Categories</h2>
<div class="row">
  @for (item of categories; track item.key) {
    <a
      href
      [routerLink]="['/category/' + item.key]"
      routerLinkActive="router-link-active"
      class="col-6 col-sm-3 text-decoration-none">
      <div class="cat-wrapper d-flex flex-column mb-4 gap-2">
        <img
          [src]="item.category.img"
          [alt]="'Category_' + item.key"
          class="cat-img rounded-circle" />
        <h6 class="cat-title text-center">{{ item.category.name }}</h6>
      </div>
    </a>
  }
</div>
