.info-title {
  color: var(--rcp-gray-500);
}

.author-img {
  width: 2rem;
  height: 2rem;
}

.step-count {
  width: 1.5rem;
  height: 1.5rem;
}

.ingredient-list-item {
  input[type='checkbox']:checked + label {
    text-decoration: line-through;
    color: var(--rcp-gray-500);
  }
}
