<form
  [formGroup]="loginForm"
  class="login-form d-flex flex-column"
  (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label
      for="email"
      class="form-label"
      >Email address</label
    >
    <input
      type="email"
      formControlName="email"
      class="form-control"
      id="email"
      placeholder="email@example.com"
      [ngClass]="{
        'is-invalid': email?.touched && email?.invalid,
      }" />
    <div class="invalid-feedback">
      {{ email?.hasError('required') && email?.touched ? 'Email is required' : 'Invalid Email' }}
    </div>
  </div>
  <div class="mb-3">
    <label
      for="password"
      class="form-label"
      >Password</label
    >
    <input
      type="password"
      formControlName="password"
      class="form-control"
      id="password"
      [ngClass]="{
        'is-invalid': password?.touched && password?.invalid,
      }" />
    <div class="invalid-feedback">Password is required.</div>
  </div>
  <a
    href="#"
    class="forgot-password-link btn-link text-primary text-end text-decoration-none fw-semibold"
    >Forgot your password?</a
  >
  <!-- <div class="mb-3 form-check">
    <input
      type="checkbox"
      class="form-check-input"
      id="exampleCheck1" />
    <label
      class="form-check-label"
      for="exampleCheck1"
      >Check me out</label
    >
  </div> -->
  <button class="btn btn-primary text-white mt-5">Login</button>
  <p class="text-center mt-5">
    Don’t have an account?
    <a
      href
      [routerLink]="['/sign-up']"
      class="btn-link text-primary p-0 text-decoration-none fw-semibold"
      >Sign up</a
    >
  </p>
</form>
