<div
  class="collapse navbar-collapse-md flex-grow-0"
  id="navbarNavAltMarkup"></div>

<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasNavbar"
  aria-labelledby="offcanvasNavbarLabel">
  <div class="offcanvas-header">
    <h5
      class="offcanvas-title"
      id="offcanvasNavbarLabel">
      Menu
    </h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="navbar-nav justify-content-end flex-grow-1 pe-3">
      <div class="d-xl-none">
        <div class="user-block d-flex gap-2 align-items-center mb-2">
          @if (userPhotoPath) {
            <img
              [src]="userPhotoPath"
              [alt]="userDisplayName"
              class="user-photo" />
          } @else {
            <i class="bi bi-person-circle fs-2"></i>
          }
          <span>{{ 'Vasily Titov' }}</span>
        </div>
        <hr />
        @if (userMenu && userMenu.length) {
          @for (item of userMenu; track $index) {
            <a
              class="nav-link"
              [routerLink]="[item.path]"
              routerLinkActive="active"
              href
              >{{ item.title }}</a
            >
          }
          <a
            (click)="onLogout()"
            class="nav-link"
            href
            >Logout</a
          >
          <hr />
        }
      </div>
      <a
        class="nav-link active"
        aria-current="page"
        [routerLink]="['/']"
        routerLinkActive="active"
        >Homepage</a
      >
      <a
        class="nav-link"
        [routerLink]="['/recipes']"
        routerLinkActive="active"
        href
        >Recipes</a
      >
      <a
        class="nav-link"
        [routerLink]="['/categories']"
        routerLinkActive="active"
        href
        >Categories</a
      >
      <a
        class="nav-link"
        href="#"
        >Blog</a
      >
    </div>
  </div>
</div>
