<div
  class="collapse navbar-collapse-md flex-grow-0"
  id="navbarNavAltMarkup">
  <div class="navbar-nav">
    <a
      class="nav-link active"
      aria-current="page"
      href="#"
      >Homepage</a
    >
    <a
      class="nav-link"
      href="#"
      >Recipes</a
    >
    <a
      class="nav-link"
      href="#"
      >Blog</a
    >
  </div>
</div>

<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasNavbar"
  aria-labelledby="offcanvasNavbarLabel">
  <div class="offcanvas-header">
    <h5
      class="offcanvas-title"
      id="offcanvasNavbarLabel">
      Offcanvas
    </h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="navbar-nav justify-content-end flex-grow-1 pe-3">
      <a
        class="nav-link active"
        aria-current="page"
        href="#"
        >Homepage</a
      >
      <a
        class="nav-link"
        href="#"
        >Recipes</a
      >
      <a
        class="nav-link"
        href="#"
        >Blog</a
      >
    </div>
  </div>
</div>
