<div class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <div class="container pt-5 pb-3">
      <div class="footer-content row flex-column flex-lg-row justify-content-between pb-5">
        <div class="brand-left align-items-center col-12 col-lg-6 mb-5 mb-lg-0">
          <div class="brand-wrapper d-flex flex-nowrap align-items-center gap-1 pe-3">
            <a
              class="navbar-brand fw-bold fs-2 d-block"
              [routerLink]="['/']"
              href
              ><img
                ngSrc="logo.svg"
                width="100"
                height="80"
                alt="Recipes"
                class="logo"
            /></a>
            <div class="quote-wrapper">
              <p class="m-0">
                "Cooking is an art, a passion, and a journey. <br class="d-none d-md-block" />Every
                recipe tells a story, and every dish brings people together."
              </p>
            </div>
          </div>
        </div>
        <div class="nav-right col-12 col-lg-6">
          <nav class="footer-nav d-none d-lg-flex gap-1 gap-lg-5 justify-content-end">
            <ul class="nav flex-column">
              <li class="nav-link fw-bold text-decoration-underline fs-6">Tastebite</li>
              <li class="nav-item">
                <a
                  href="#"
                  class="nav-link fs-6"
                  >About us</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="#"
                  class="nav-link fs-6"
                  >Careers</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="#"
                  class="nav-link fs-6"
                  >Contact Us</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="#"
                  class="nav-link fs-6"
                  >Feedback</a
                >
              </li>
            </ul>
            <ul class="nav flex-column">
              <li class="nav-link fw-bold text-decoration-underline fs-6">Legal</li>
              <li class="nav-item">
                <a
                  href="#"
                  class="nav-link fs-6"
                  >Terms</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="#"
                  class="nav-link fs-6"
                  >Conditions</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="#"
                  class="nav-link fs-6"
                  >Cookies</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="#"
                  class="nav-link fs-6"
                  >Copyright</a
                >
              </li>
            </ul>
            <ul class="nav flex-column">
              <li class="nav-link fw-bold text-decoration-underline fs-6">Follow</li>
              <li class="nav-item">
                <a
                  href="#"
                  class="nav-link fs-6"
                  >Facebook</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="#"
                  class="nav-link fs-6"
                  >Twitter</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="#"
                  class="nav-link fs-6"
                  >Instagram</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="#"
                  class="nav-link fs-6"
                  >Youtube</a
                >
              </li>
            </ul>
          </nav>
          <nav class="footer-nav d-flex flex-column d-lg-none">
            <div
              class="accordion accordion-flush"
              id="accordionFlushExample">
              <div class="accordion-item bg-transparent">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed fw-bold bg-transparent px-0"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne"
                    aria-expanded="false"
                    aria-controls="flush-collapseOne">
                    Tastebite
                  </button>
                </h2>
                <div
                  id="flush-collapseOne"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body px-0">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a
                          href="#"
                          class="nav-link fs-6"
                          >About us</a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          href="#"
                          class="nav-link fs-6"
                          >Careers</a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          href="#"
                          class="nav-link fs-6"
                          >Contact Us</a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          href="#"
                          class="nav-link fs-6"
                          >Feedback</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item bg-transparent">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed fw-bold bg-transparent px-0"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo"
                    aria-expanded="false"
                    aria-controls="flush-collapseTwo">
                    Legal
                  </button>
                </h2>
                <div
                  id="flush-collapseTwo"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body px-0">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a
                          href="#"
                          class="nav-link fs-6"
                          >Terms</a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          href="#"
                          class="nav-link fs-6"
                          >Conditions</a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          href="#"
                          class="nav-link fs-6"
                          >Cookies</a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          href="#"
                          class="nav-link fs-6"
                          >Copyright</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item bg-transparent">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed fw-bold bg-transparent px-0"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree"
                    aria-expanded="false"
                    aria-controls="flush-collapseThree">
                    Follow
                  </button>
                </h2>
                <div
                  id="flush-collapseThree"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body px-0">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a
                          href="#"
                          class="nav-link fs-6"
                          >Facebook</a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          href="#"
                          class="nav-link fs-6"
                          >Twitter</a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          href="#"
                          class="nav-link fs-6"
                          >Instagram</a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          href="#"
                          class="nav-link fs-6"
                          >Youtube</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <hr class="divider" />
      <div class="footer-end d-flex flex-column flex-md-row justify-content-between">
        <div class="footer-copyright">
          <p>&copy; 2024 Gita course project - All rights reserved</p>
        </div>
        <div class="footer-social d-flex gap-1">
          <button class="btn"><i class="bi bi-facebook"></i></button>
          <button class="btn"><i class="bi bi-twitter-x"></i></button>
          <button class="btn"><i class="bi bi-instagram"></i></button>
          <button class="btn"><i class="bi bi-youtube"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
