<div class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <div class="container pt-5 pb-3">
      <div class="footer-content d-flex flex-column flex-md-row justify-content-between pb-5">
        <div class="brand-left flex-grow-0 flex-shrink-1">
          <a
            class="navbar-brand fw-bold fs-2 d-block mb-2"
            href="#"
            >Recipes</a
          >
          <p>
            "On the other hand, we denounce with righteous indignation and <br />dislike men who are
            so beguiled and demoralized by the charms <br />of pleasure of the moment."
          </p>
        </div>
        <div class="nav-right">
          <nav class="footer-nav d-none d-md-flex d-flex gap-5">
            <ul class="nav flex-column">
              <li class="nav-link fw-bold text-decoration-underline fs-6">Tastebite</li>
              <li class="nav-item">
                <a
                  href="#"
                  class="nav-link fs-6"
                  >About us</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="#"
                  class="nav-link fs-6"
                  >Careers</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="#"
                  class="nav-link fs-6"
                  >Contact Us</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="#"
                  class="nav-link fs-6"
                  >Feedback</a
                >
              </li>
            </ul>
            <ul class="nav flex-column">
              <li class="nav-link fw-bold text-decoration-underline fs-6">Legal</li>
              <li class="nav-item">
                <a
                  href="#"
                  class="nav-link fs-6"
                  >Terms</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="#"
                  class="nav-link fs-6"
                  >Conditions</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="#"
                  class="nav-link fs-6"
                  >Cookies</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="#"
                  class="nav-link fs-6"
                  >Copyright</a
                >
              </li>
            </ul>
            <ul class="nav flex-column">
              <li class="nav-link fw-bold text-decoration-underline fs-6">Follow</li>
              <li class="nav-item">
                <a
                  href="#"
                  class="nav-link fs-6"
                  >Facebook</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="#"
                  class="nav-link fs-6"
                  >Twitter</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="#"
                  class="nav-link fs-6"
                  >Instagram</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="#"
                  class="nav-link fs-6"
                  >Youtube</a
                >
              </li>
            </ul>
          </nav>
          <nav class="footer-nav d-flex flex-column d-md-none">
            <div
              class="accordion accordion-flush"
              id="accordionFlushExample">
              <div class="accordion-item bg-transparent">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed fw-bold bg-transparent px-0"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne"
                    aria-expanded="false"
                    aria-controls="flush-collapseOne">
                    Tastebite
                  </button>
                </h2>
                <div
                  id="flush-collapseOne"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body px-0">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a
                          href="#"
                          class="nav-link fs-6"
                          >About us</a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          href="#"
                          class="nav-link fs-6"
                          >Careers</a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          href="#"
                          class="nav-link fs-6"
                          >Contact Us</a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          href="#"
                          class="nav-link fs-6"
                          >Feedback</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item bg-transparent">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed fw-bold bg-transparent px-0"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo"
                    aria-expanded="false"
                    aria-controls="flush-collapseTwo">
                    Legal
                  </button>
                </h2>
                <div
                  id="flush-collapseTwo"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body px-0">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a
                          href="#"
                          class="nav-link fs-6"
                          >Terms</a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          href="#"
                          class="nav-link fs-6"
                          >Conditions</a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          href="#"
                          class="nav-link fs-6"
                          >Cookies</a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          href="#"
                          class="nav-link fs-6"
                          >Copyright</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item bg-transparent">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed fw-bold bg-transparent px-0"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree"
                    aria-expanded="false"
                    aria-controls="flush-collapseThree">
                    Follow
                  </button>
                </h2>
                <div
                  id="flush-collapseThree"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body px-0">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a
                          href="#"
                          class="nav-link fs-6"
                          >Facebook</a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          href="#"
                          class="nav-link fs-6"
                          >Twitter</a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          href="#"
                          class="nav-link fs-6"
                          >Instagram</a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          href="#"
                          class="nav-link fs-6"
                          >Youtube</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <hr class="divider" />
      <div class="footer-end d-flex justify-content-between">
        <div class="footer-copyright">
          <p>&copy; 2024 Gita course project - All rights reserved</p>
        </div>
        <div class="footer-social d-flex gap-1">
          <button class="btn"><i class="bi bi-facebook"></i></button>
          <button class="btn"><i class="bi bi-twitter-x"></i></button>
          <button class="btn"><i class="bi bi-instagram"></i></button>
          <button class="btn"><i class="bi bi-youtube"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
