<div class="row justify-content-between">
  <div class="col-6 recipe-stats d-flex gap-3">
    <i class="bi bi-graph-up fs-5"></i>
    <span class="popularity">85% would make this again</span>
  </div>
  <div class="col-6 recipe-actions d-flex gap-3 justify-content-end">
    <button
      #tooltip="matTooltip"
      matTooltip="Link copied to clipboard"
      matTooltipPosition="left"
      (mouseenter)="$event.stopImmediatePropagation()"
      (mouseleave)="$event.stopImmediatePropagation()"
      (click)="onShare(tooltip)"
      type="button"
      class="btn p-0">
      <i class="bi bi-share fs-5"></i>
    </button>
    <a
      matTooltip="Drag this button to your bookmarks bar to bookmark this page."
      matTooltipPosition="left"
      (click)="$event.preventDefault(); $event.stopPropagation()"
      [href]="recipeLink"
      type="button"
      class="btn p-0">
      <i class="bi bi-bookmark fs-5"></i>
    </a>
  </div>
</div>
