<div class="breadcrumbs-wrapper d-flex align-items-center gap-2">
  <button
    (click)="onClickBack()"
    class="btn">
    <i class="bi bi-caret-left-fill"></i>
  </button>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb m-0">
      @for (item of breadcrumbs; track $index) {
        @if (item.label) {
          <li
            class="breadcrumb-item"
            ariaCurrentWhenActive="page"
            routerLinkActive="active">
            @if ($last) {
              {{ item.label }}
            } @else {
              <a
                href="#"
                [routerLink]="[item.url]"
                >{{ item.label }}</a
              >
            }
          </li>
        }
      }
    </ol>
  </nav>
</div>
