<div class="nutritions-block col-10 px-4 py-5 bg-secondary">
  <h6 class="display-6 mb-5">Nutrition Facts</h6>
  <ul class="nutritions-list list-unstyled">
    <li class="nutrition-list-item py-2 border-bottom d-flex justify-content-between">
      <span class="nutrition-item">Calories</span><span class="nutrition-value">219.9</span>
    </li>
    <li class="nutrition-list-item py-2 border-bottom d-flex justify-content-between">
      <span class="nutrition-item">Total Fat</span><span class="nutrition-value">10.7 g</span>
    </li>
    <li class="nutrition-list-item py-2 border-bottom d-flex justify-content-between">
      <span class="nutrition-item">Saturated Fat</span><span class="nutrition-value">2.2 g</span>
    </li>
    <li class="nutrition-list-item py-2 border-bottom d-flex justify-content-between">
      <span class="nutrition-item">Cholesterol</span><span class="nutrition-value">37.4 mg</span>
    </li>
    <li class="nutrition-list-item py-2 border-bottom d-flex justify-content-between">
      <span class="nutrition-item">Sodium</span><span class="nutrition-value">120.3 mg</span>
    </li>
    <li class="nutrition-list-item py-2 border-bottom d-flex justify-content-between">
      <span class="nutrition-item">Potassium</span><span class="nutrition-value">32.8 mg</span>
    </li>
    <li class="nutrition-list-item py-2 border-bottom d-flex justify-content-between">
      <span class="nutrition-item">Total Carbohydrate</span
      ><span class="nutrition-value">22.3 g</span>
    </li>
    <li class="nutrition-list-item py-2 border-bottom d-flex justify-content-between">
      <span class="nutrition-item">Sugars</span><span class="nutrition-value">8.4 g</span>
    </li>
    <li class="nutrition-list-item py-2 border-bottom d-flex justify-content-between">
      <span class="nutrition-item">Protein</span><span class="nutrition-value">7.9 g</span>
    </li>
  </ul>
</div>
