<div class="row">
  <div class="col-12">
    <h1 class="display-2">{{ isEditMode ? 'Edit recipe' : 'Create new recipe' }}</h1>
    <hr class="my-3" />
    <form
      (ngSubmit)="onSubmit()"
      [formGroup]="recipeForm"
      class="recipe-form">
      <div class="img-wrapper mb-3">
        @if (!imagePath?.value) {
          <label
            for="imageUpload"
            class="form-label d-block image-upload-action">
            <div
              class="image-placeholder py-5 w-100 d-flex flex-column justify-content-center align-items-center">
              <i
                class="bi bi-cloud-arrow-up-fill image-icon"
                [ngClass]="{
                  'text-primary': imagePath?.pristine,
                  'text-danger': recipeForm.touched && imagePath?.invalid,
                }"></i>
              <h3 class="text-center">Click here to upload recipe image</h3>
            </div>
          </label>
        }
        @if (imagePath?.value) {
          <label
            for="imageUpload"
            class="form-label d-inline-block image-upload-action-uploaded position-relative">
            <img
              [src]="imagePath?.value"
              alt="Recipe image"
              class="recipe-img" />
            <span
              type="button"
              class="btn btn-primary text-white position-absolute top-50 start-50 translate-middle">
              Change image
            </span>
          </label>
        }
      </div>
      <div class="mb-3">
        <input
          hidden
          class="form-control visibility-hidden"
          id="imageUpload"
          accept="image/png, image/jpeg"
          [ngClass]="{
            'is-invalid': recipeForm.touched && imagePath?.invalid,
          }"
          (change)="handleImage($event)"
          type="file" />
        <div class="invalid-feedback">
          @if (imagePath?.hasError('required')) {
            Image is required
          }
        </div>
      </div>
      <div class="mb-3">
        <label
          for="recipeTitle"
          class="form-label"
          [ngClass]="{
            required: getIsRequired('title'),
          }"
          >Recipe title</label
        >
        <input
          type="text"
          class="form-control"
          formControlName="title"
          [ngClass]="{
            'is-valid': title?.touched && title?.valid,
            'is-invalid': title?.touched && title?.invalid,
          }"
          id="recipeTitle" />
        @if (title?.untouched || title?.valid) {
          <div
            id="titleHint"
            class="form-text">
            Here you can enter recipe title, recommended short and decriptive title.
          </div>
        }
        <div class="invalid-feedback">
          @if (title?.hasError('required')) {
            Title is required
          } @else if (title?.hasError('minlength')) {
            Please enter at least 3 characters
          }
        </div>
      </div>
      <div class="mb-3">
        <label
          for="categorySelect"
          class="form-label"
          [ngClass]="{
            required: getIsRequired('categoryKey'),
          }"
          >Select category</label
        >
        <select
          class="form-select"
          id="categorySelect"
          formControlName="categoryKey"
          [ngClass]="{
            'is-valid': categoryKey?.touched && categoryKey?.valid,
            'is-invalid': categoryKey?.touched && categoryKey?.invalid,
          }"
          aria-label="category select">
          <option
            selected
            [value]="''">
            Choose a category
          </option>
          @for (category of categories; track $index) {
            <option [value]="category.key">{{ category.category.name }}</option>
          }
        </select>
        @if (categoryKey?.untouched || categoryKey?.valid) {
          <div
            id="titleHint"
            class="form-text">
            Please choose category for this recipe.
          </div>
        }
        <div class="invalid-feedback">Category is required</div>
      </div>
      <div class="mb-3">
        <label
          for="recipeShortDescription"
          class="form-label"
          [ngClass]="{
            required: getIsRequired('shortDescription'),
          }"
          >Recipe short description</label
        >
        <textarea
          class="form-control"
          formControlName="shortDescription"
          name="recipeShortDescription"
          placeholder="Enter short description for recipe"
          [ngClass]="{
            'is-valid': shortDescription?.touched && shortDescription?.valid,
            'is-invalid': shortDescription?.touched && shortDescription?.invalid,
          }"
          id="recipeShortDescription"></textarea>
        @if (shortDescription?.untouched || shortDescription?.valid) {
          <div
            id="shortDescriptionHint"
            class="form-text">
            Enter short description, minimum of 50 characters. It will be shown under the recipe
            title.
          </div>
        }
        <div class="invalid-feedback">
          @if (shortDescription?.hasError('required')) {
            Title is required
          } @else if (shortDescription?.hasError('minlength')) {
            Please enter at least 50 characters. Current length:
            {{ shortDescription?.value.length }}
          }
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-6">
          <label
            for="recipePrepTime"
            class="form-label"
            [ngClass]="{
              required: getIsRequired('preparationTime'),
            }"
            >Preparation Time</label
          >
          <input
            type="number"
            class="form-control"
            formControlName="preparationTime"
            [ngClass]="{
              'is-valid': preparationTime?.touched && preparationTime?.valid,
              'is-invalid': preparationTime?.touched && preparationTime?.invalid,
            }"
            id="recipePrepTime" />
          <div
            id="prepTimeHint"
            class="form-text">
            Enter meal preparation time in minutes.
          </div>
        </div>
        <div class="col-6">
          <label
            for="recipeServings"
            class="form-label"
            [ngClass]="{
              required: getIsRequired('servingCount'),
            }"
            >Servings</label
          >
          <input
            type="number"
            class="form-control"
            formControlName="servingCount"
            [ngClass]="{
              'is-valid': servingCount?.touched && servingCount?.valid,
              'is-invalid': servingCount?.touched && servingCount?.invalid,
            }"
            id="recipeServings" />
          <div
            id="servingsHint"
            class="form-text">
            Enter quantity of servings.
          </div>
        </div>
      </div>
      <div class="mt-5 mb-3">
        <div formArrayName="ingredientsBlock">
          <h5 class="display-5 text-center mb-4">Ingredients</h5>
          @for (item of ingredientBlocks.controls; track $index; let blockIdx = $index) {
            <div
              class="ingredient-row mb-3"
              [formGroupName]="blockIdx">
              <div class="input-group flex-nowrap">
                <span
                  class="input-group-text"
                  [id]="'ingredients-addon_' + blockIdx"
                  >Ingredients for:
                </span>
                <input
                  [id]="'ingredients-block_' + blockIdx"
                  type="text"
                  class="form-control"
                  formControlName="ingredientsBlockTitle"
                  aria-label="ingredients-title"
                  [attr.aria-describedby]="'ingredients-addon_' + blockIdx" />
              </div>
              <div
                id="ingredientsBlockHint"
                class="form-text">
                Enter title for ingredients block. On the recipe page ingredients will be separated
                within this blocks.
              </div>
              <div
                class="ingredients"
                formArrayName="ingredients">
                <div class="row my-3">
                  <div class="col-1 text-center"><span class="fs-6">#</span></div>
                  <div class="col-4 col-md-8"><span class="fs-6">Name</span></div>
                  <div class="col-2 col-md-1 text-center"><span class="fs-6">Qty.</span></div>
                  <div class="col-3 col-md-1 text-center"><span class="fs-6">Unit</span></div>
                  <div class="col-2 col-md-1 text-center"><span class="fs-6">Delete</span></div>
                </div>
                @for (
                  ingredient of getBlockIngredients(blockIdx).controls;
                  track ingredient;
                  let ingrIdx = $index
                ) {
                  <div
                    [formGroupName]="ingrIdx"
                    class="ingredient-row row align-items-center mb-2">
                    <div class="col-1 d-flex justify-content-center">
                      <span
                        class="step-count rounded-circle flex-shrink-0 d-flex justify-content-center align-items-center text-white bg-primary"
                        >{{ ingrIdx + 1 }}</span
                      >
                    </div>
                    <div class="col-4 col-md-8">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="name"
                        [id]="'ingredientName_' + ingrIdx" />
                    </div>
                    <div class="col-2 col-md-1">
                      <input
                        type="number"
                        class="form-control"
                        formControlName="quantity"
                        [id]="'ingredientQuantity_' + ingrIdx" />
                    </div>
                    <div class="col-3 col-md-1">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="unit"
                        [id]="'ingredientQuantityUnit_' + ingrIdx" />
                    </div>
                    <div class="col-2 col-md-1 d-flex justify-content-center">
                      <button
                        (click)="removeIngredient(blockIdx, ingrIdx)"
                        class="btn p-0"
                        type="button">
                        <i class="bi bi-x-circle fs-3 text-danger"></i>
                      </button>
                    </div>
                  </div>
                }
                <div class="d-flex justify-content-center">
                  <button
                    (click)="addIngredient($index)"
                    class="btn"
                    type="button">
                    <i class="bi bi-plus-circle-fill text-primary fs-2"></i>
                  </button>
                </div>
              </div>
            </div>
          }
          <div class="button-wrapper d-flex justify-content-center">
            <button
              type="button"
              class="btn btn-primary text-white"
              (click)="addIngredientBlock()">
              + Add Ingredients block
            </button>
          </div>
        </div>
      </div>
      <div class="my-5">
        <h5 class="display-5 text-center mb-4">Instructions steps</h5>
        @for (step of steps.controls; track $index) {
          <div
            class="step-item d-flex align-items-center gap-2 mb-2"
            formArrayName="steps">
            <span
              class="step-count rounded-circle flex-shrink-0 d-flex justify-content-center align-items-center text-white bg-primary"
              >{{ $index + 1 }}</span
            >
            <textarea
              [formControlName]="$index"
              class="form-control"
              [id]="'step_' + $index + '_description'"></textarea>
            <button
              (click)="removeStep($index)"
              class="btn p-0"
              type="button">
              <i class="bi bi-x-circle fs-3 text-danger"></i>
            </button>
          </div>
        }
        <div class="btn-wrapper d-flex justify-content-center">
          <button
            (click)="addStep()"
            class="btn"
            type="button">
            <i class="bi bi-plus-circle-fill text-primary fs-2"></i>
          </button>
        </div>
      </div>
      <div class="btn-wrapper d-flex justify-content-end">
        <button
          [disabled]="recipeForm.touched && recipeForm.invalid"
          class="btn text-white btn-primary">
          Save recipe
        </button>
      </div>
    </form>
  </div>
</div>
